$dark-blue: #2D3D74;
$light-blue: #C5CBE3;
$poppy: #FF6A3D;
$yellow: #F4DB7D;
$violet: #9DAAF2;
$dark-grey: #373A3C;
$medium-grey: #777777;
$light-grey: #DDDDDD;
$font-georgia: 'Georgia', serif;
$font-playfair: 'Playfair Display', serif;

//site color variables
$body-color: #fff;
$primary-color: $poppy;
$secondary-color: $dark-blue;
$text-color: #9D9EA5;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: $font-georgia;
$secondary-font: $font-playfair;
