.site-contact{
  padding: 150px 0 100px;
  background: $gray;
  @include mobile{
    padding: 120px 0 100px;
  }
  &-title{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.2rem;
    @include tablet{
      font-size: 40px;
    }
    @include desktop {
      margin-top: 1.2rem;
    }
    span{
      color: $primary-color;
    }
  }
  &-form{
    margin-top: 20px;
    h4{
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 50px;
      letter-spacing: 3px;
      @include tablet{
        font-size: 20px;
      }
      @include desktop{
        margin-bottom: 70px;
      }
    }
  }
  &-profile-photo {
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(45, 61, 116, 0.16);
    width: 80%;

    @include desktop {
      width: 300px;
    }
  }
  &-email {
    margin-bottom: 2.4rem;
  }
}