{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <a href="#project" class="site-project-header-action scroll-to">
              <h2>{{ .title }}</h2>
              <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="26.07" height="32.634" viewBox="0 0 26.07 32.634">
                <g id="download" transform="translate(-3.282)">
                  <path id="Path_1" data-name="Path 1" d="M16.317,32.634a.5.5,0,0,1-.5-.5V.5a.5.5,0,0,1,1,0V32.134A.5.5,0,0,1,16.317,32.634Z" fill="currentColor"/>
                  <path id="Path_2" data-name="Path 2" d="M16.315,32.634h0a.5.5,0,0,1-.354-.146L3.428,19.951a.5.5,0,0,1,.707-.707L16.314,31.427,28.5,19.244a.5.5,0,1,1,.707.707L16.668,32.487A.5.5,0,0,1,16.315,32.634Z" fill="currentColor"/>
                </g>
              </svg>
            </a>
            <p>{{ .subtitle }}</p>
          </div>
        </div>
        <div class="col-12" id="project"></div>
        {{ range $index, $element := first 4 (where $.Site.RegularPages "Type" "portfolio") }}
          {{ if  (modBool $index 2)}}
            <div class="col-lg-5 col-md-10 offset-lg-0 offset-md-1 site-project-left">
          {{ else }}
            <div class="col-lg-5 col-md-10 offset-lg-0 offset-md-1">
          {{ end }}
            <div class="site-project-item">
              <div class="site-project-item-thumb">
                <img src="{{ .Params.Image | absURL }}" alt="{{ .Params.Image_alt }}">
              </div>
              <div class="site-project-item-content">
                <span class="highlight">{{ delimit .Params.category ", " }}</span>
                <h3>{{ .Title | safeHTML }}</h3>
                <a href="{{ .Permalink }}" class="read-more">view project</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}