{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-1 col-md-12 text-center text-lg-left">
        <img class="site-contact-profile-photo " src="{{
        "images/dana-drawing-01.jpg" | absURL }}" alt="A self-portait ink drawing of Dana.">
      </div>
      <div class="col-lg-5 col-md-12">
        <h1 class="site-contact-title text-center text-lg-left">{{ .Params.heading | safeHTML }}</h1>
        <p class="text-center text-lg-left site-contact-email">
          Drop me a line at <span class="font-weight-bold">{{ .Site.Params.footer.contactInfo.email }}</span>.
        </p>
        <p>
          Hello! I’m Dana, a UX designer and researcher based in Atlanta, GA. I
          have a knack for creatively solving problems and a passion for
          creating data-driven designs and experiences that are accessible,
          pleasant to view, and enjoyable to use. I value curiosity and collaboration.
        </p>
        <p>
          I am currently pursuing a Master's degree in Human-Computer Interaction from DePaul University. Prior to beginning grad school, I spent over 10 years working in various capacities as a marketing and content strategist for a wide range of companies. I have experience working with rapidly growing startups, non-profits, and media conglomerates.</p><p>In
          my free time, I enjoy film photography, browsing thrift shops, making art, watching birds,
          hiking, playing video games, and fantasizing about adopting too many
          shelter dogs.
        </p>
        <div class="site-contact-form">
          <!-- <form id="contact-form" action="{{ .Site.Params.formspreeFormUrl }}" method="POST">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" name="first-name" id="first-name" placeholder="{{ .Site.Params.contactForm.placeholder_first_name }}">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="last-name" id="last-name" placeholder="{{ .Site.Params.contactForm.placeholder_last_name }}">
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="{{ .Site.Params.contactForm.placeholder_email }}">
              </div>
              <div class="col-lg-6">
                <div class="select-wrapper">
                  <select class="form-control" id="projectType" name="project-type">
                    <option value="" selected disabled hidden>{{ .Site.Params.contactForm.placeholder_project_type }}</option>
                    {{ range .Site.Params.contactForm.projectType }}
                    <option value="{{ .value }}">{{ .title }}</option>
                    {{ end }}
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea class="form-control" id="aboutProject" name="about-project" rows="6" placeholder="{{ .Site.Params.contactForm.placeholder_about_the_project }}"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" id="contact-form-button">
                  <span class="btn-area">
                    <span data-text="{{ .Site.Params.contactForm.send_message }}">
                      {{ .Site.Params.contactForm.send_message }}
                    </span>
                  </span>
                </button>
              </div>
              <p id="contact-form-status"></p>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
